
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        body{
            font-family: poppins, sans-serif;
            background: rgb(34, 34, 34);
            color: #fff;           
            box-sizing: border-box;  
            overflow: hidden;      
        }

        .principal{
            width: 80%;
            margin: 15px auto;
        }

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        header h2{
            text-transform: uppercase;
        }

        a{
            text-decoration: none;
            color: #fff;            
        }

        a:hover{
            color: #ffcc00;
            transition: 0.5s;            
        }

        li{
            display: inline-block;
            font-size: 18px;
            margin: 15px;
            text-transform: uppercase;
        }

        

        form{
            width: 500px;
            padding: 15px 0;   
            }

        form h1{
            margin: 0;
            color: #ffcc00;
            font-size: 50px;
            line-height: 1;
        }

        form p{
            margin:15px 0 ;
        }

        img{
            background-image: url(https://github.com/arthur-source/arthur-source.github.io/blob/main/aprender.svg);
            width: 500px;
            height: 100%;                                 
        }

        main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        fieldset{
            width: 60%;
            height: 200px;
            padding: 15px;
            border-radius: 8px;
        }

        fieldset input{
            display: inline-block;
            width:100%;
            
            margin-bottom: 10px;           
            padding: 10px;
            border: none;
            border-radius: 8px;
            outline: none;
            box-sizing: border-box;
        }

        fieldset #btn{
            text-transform:uppercase ;
            color: #fff;
            background: #ffcc00;
        }
        fieldset #btn:hover{           
            color: #ffcc00;
            background: #ccc;
            transition: 0.5s;
            cursor:pointer;
        }

        fieldset legend{
            text-align: center;
        }
